<% provide(:title, "Home") %>
<!--JUMBOTRON-->
<div class="background">
<div class="jumbotron">
  <div class="container">
    <h2 id="jumbo-caption">Find Your Pizza</h2>
		    <div class="search-div">
				<span class="glyphicon glyphicon-search jumbo-search-icon" aria-hidden="true"></span>
			  <%= form_tag(restaurants_index_path, :method => "get", id: "search-form", 
			  										class: "input-group search-container") do %>
			  <%= text_field_tag :search, params[:search], placeholder: "Enter your suburb..", 															class: "form-control search-bar" %>
				<% end %> 
		    </div>
	</div>
</div>
<!--ABOUT ME BOX
<div class="container-fluid">
<div class="row about-me-row">
	<div class="col-md-6 col-md-offset-3 about-me-box">
		<span id="about-me">Some text about me goes here</span>
	</div>
</div>
</div>-->
<!--THUMBNAILS-->
<div class="container">
	<span id="latest-news">Latest News</span>
	<p id="news-caption">Explore the latest news from Sydney's best pizzeria's</p>
	<hr>
	<div class="row">
	  <%= render 'pages/thumbnails' %>
	</div>
</div>
</div>