<% provide(:title, "Home") %>
<!--JUMBOTRON-->
<div class="background">
<div class="jumbotron">
  <div class="container">
    <h2 id="jumbo-caption">Find Your Pizza</h2>
		    <div class="search-div">
				<span class="glyphicon glyphicon-search jumbo-search-icon" aria-hidden="true"></span>
			  <%= form_tag(restaurants_index_path, :method => "get", id: "search-form", 
			  										class: "input-group search-container") do %>
			  <%= text_field_tag :search, params[:search], placeholder: "Suburb", 															class: "form-control search-bar" %>
			  
			  <%= select_tag(:state, options_for_select(['NSW', 'VIC', 'QLD', 'WA', 'SA', 'TAS', 'NT', 'ACT']), 
			  												{:class => "state-select"}) %>
			  
			  
				<% end %> 
		    </div>
	</div>
</div>
<!--THUMBNAILS-->
<div class="container">
	<span id="latest-news">Latest News</span>
	<p id="news-caption">Explore the latest news from Sydney's best pizzeria's</p>
	<hr>
	<div class="row">
	  <%= render 'pages/thumbnails' %>
	</div>
</div>
</div>