<footer>
	<div class="container-fluid footer">
		<a href="/" id="logo"><font color="white">Pizza</font><font color="black">Me</font></a>
	<div>
	<div class="yelp-footer">
		<span class="yelp-span">Restaurant information courtesy of Yelp.</span>
		<%= link_to (image_tag("yelp_burst_white.png", class: "yelp-burst")), "https://www.yelp.com" %>
	</div>
</footer>