<footer>
	<div class="container-fluid footer">
		<a href="/home" id="logo"><font color="white">Pizza</font><font color="black">Me</font></a>
	<div>
	<div class="container">
		<ul class="footer-nav">
			<li><%= link_to "About", root_path %></li>
			<li><%= link_to "Contact", root_path %></li>				
		</ul>
	</div>
</footer>