<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a href="/root" id="logo"><font color="white">Pizza</font><font color="black">Me</font></a>-->
	  <a href="/" id="logo"><font color="green">Piz</font>za<font color="red">Me</font></a>
	  
    </div>
	<nav>
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 		  aria-expanded="false">
		  <button type="button" class="btn btn-default btn-sm" aria-label="Center Align">
  		  <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span></button>
		  </a>
          <ul class="dropdown-menu">
            <li><a href="#" style="background-color:green">News</a></li>
            <li><a href="#">Pizza</a></li>
            <li><a href="#" style="background-color:red">About</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" style="background-color:grey"><font color="white">Signup</font></a></li>
          </ul>
		</li>
	</ul>
	</nav>
  	</div>
</header>